/* =Variables
-------------------------------------------------------------- */
$base-font-size: 16px;
$base-body-color: #fff;
$icon-color: #f00;

$pmc_brown: #6d7075;
$pmc_green: #9b9a86;
$pmc_blue: #005790;
$pmc_dark_grey: #51586a;


$primary-font-color: #000;
$grey: #ededed;
$link-color: $pmc_blue;
$title: $base-font-family;
$content: $base-font-family;
$shadow: rgba(0, 0, 0, .6);
